{% if is_uefi == True %}
{{ disk_name }}1    /boot/efi   vfat    defaults            0 0
{{ disk_name }}2    /boot       ext4    defaults            1 2
{% else %}
{{ disk_name }}1    /boot       ext4    defaults            1 2
{% endif %}
/dev/rootvg/rootlv  /           ext4    defaults,noatime    0 1
/dev/rootvg/varlv   /var        ext4    defaults,noatime    0 2
/dev/rootvg/homelv  /home       ext4    defaults,noatime    0 2
