COMMON_FLAGS="{{ make_conf_common_flags }}"
CFLAGS="{{ make_conf_common_flags }}"
CXXFLAGS="{{ make_conf_common_flags }}"
FCFLAGS="{{ make_conf_common_flags }}"
FFLAGS="{{ make_conf_common_flags }}"

USE="{{ make_conf_use }}"
MAKEOPTS="{{ make_conf_makeopts }}"
LINGUAS="{{ make_conf_linguas }}"
L10N="{{ make_conf_l10n }}"
PORTAGE_SCHEDULING_POLICY="{{ make_conf_portage_scheduling_policy }}"

GENTOO_MIRRORS="{{ make_conf_mirrors }}"

{% if is_uefi == "True" %}
GRUB_PLATFORM="pc efi-64"
{% else %}
GRUB_PLATFORM="pc"
{% endif %}

